In [1]:
import numpy as np

In [70]:
loaddata=np.genfromtxt('/home/kunalverma/Itronix Solutions/dummy/NSE-SBIN.csv',delimiter=',', dtype=str)
print(loaddata)
data=loaddata[1:,]

[['Date' 'Open' 'High' ... 'Close' 'Total Trade Quantity'
  'Turnover (Lacs)']
 ['2019-01-04' '292.1' '299.0' ... '297.65' '19514041.0' '57796.86']
 ['2019-01-03' '295.0' '295.55' ... '291.1' '17548347.0' '51393.24']
 ...
 ['1998-03-25' '285.0' '290.25' ... '289.15' '3632600.0' '10436.93']
 ['1998-03-24' '282.0' '288.4' ... '284.35' '4979900.0' '14231.55']
 ['1998-03-23' '278.45' '280.9' ... '279.95' '591700.0' '1654.91']]

In [59]:
print(data)

[['2019-01-04' '292.1' '299.0' ... '297.65' '19514041.0' '57796.86']
 ['2019-01-03' '295.0' '295.55' ... '291.1' '17548347.0' '51393.24']
 ['2019-01-02' '299.1' '302.5' ... '293.9' '25559853.0' '76220.1']
 ...
 ['1998-03-25' '285.0' '290.25' ... '289.15' '3632600.0' '10436.93']
 ['1998-03-24' '282.0' '288.4' ... '284.35' '4979900.0' '14231.55']
 ['1998-03-23' '278.45' '280.9' ... '279.95' '591700.0' '1654.91']]

In [60]:
opendata=np.array(data[:,1] ,dtype=float)
#print(opendata)
print("Maximum Opening Price : ",max(opendata))
print("Minimum Opening Price : ",min(opendata))
print("Total Opening Price Sum : ",np.sum(opendata))

Maximum Opening Price :  3505.0
Minimum Opening Price :  142.85
Total Opening Price Sum :  5068877.600000001

In [61]:
closedata=np.array(data[:,3],dtype='f4')
#print(closedata)
print("Maximum Closing Share Price : ",max(closedata))
print("Minimum Closing Share Price : ",min(closedata))
print("Total Closing Sum ",np.sum(closedata))

Maximum Closing Share Price :  3451.35
Minimum Closing Share Price :  140.05
Total Closing Sum  4983137.0

In [62]:
tradedata=np.array(data[:,6],dtype=float)
print("Maximum Trade Quantity : ",max(tradedata))
date=np.where(data[...,6]==str(max(tradedata)))
print("Date : ",data[date,0][0][0])
print("Minimum Trade Quantity : ",min(tradedata))
date=np.where(data[...,6]==str(min(tradedata)))
print("Date : ",data[date,0][0][0])
print("Total Trade Quantity : ",np.sum(tradedata))

Maximum Trade Quantity :  262677081.0
Date :  2017-10-25
Minimum Trade Quantity :  3633.0
Date :  2001-07-23
Total Trade Quantity :  29270464226.0

In [63]:
highshare=np.array(data[...,2],dtype=float)
#print(highshare)
date=np.where(data[...,2]==str(max(highshare)))
print("Highest Share Price Date ",data[date,0][0][0])

Highest Share Price Date  2010-11-08

In [64]:
lowshare=np.array(data[...,3],dtype=float)
#print(lowshare)
date=np.where(data[...,3]==str(min(lowshare)))
print("Lowest Share Price Date ",data[date,0][0][0])

Lowest Share Price Date  2001-09-21

In [65]:
turnover=np.array(data[...,7],dtype=float)
date=np.where(data[...,7]==str(max(turnover)))
print("Maximum turnover amount : {} lacs took place on {}".format(max(turnover),data[date,0][0][0]))
date=np.where(data[...,7]==str(min(turnover)))
print("Minimum turnover amount : {} lacs took place on {}".format(min(turnover),data[date,0][0][0]))
print("Total turnover Amount {}".format(sum(turnover)))

Maximum turnover amount : 816214.09 lacs took place on 2017-10-25
Minimum turnover amount : 7.68 lacs took place on 2001-07-23
Total turnover Amount 155673568.0699994

## Yearwise Analysis

In [124]:
newdata=np.array(loaddata[1:,],dtype=str)
#print(newdata)
year=np.array(newdata[...,0],dtype=str)
#print(year)
j=0
for i in newdata:
    newdata[j][0]=year[j][0:4]
    j+=1

In [130]:
def findmaxmin(y):
    #print(newdata)

    yearlist=np.where(newdata[...,0]==y)

    #print(data[yearlist])

    turnover=np.array(data[yearlist,7],dtype=float)
    print("Maximum Turnover in {} was : {} lacs".format(y,str(max(turnover[0]))))
    print("Minimum Turnover in {} was : {} lacs".format(y,str(min(turnover[0]))))
    print()

In [131]:
yearlist=np.array(newdata[...,0],dtype=str)
yearlist=list(set(yearlist))
yearlist.sort()
for i in range(len(yearlist)):
    findmaxmin(yearlist[i])

Maximum Turnover in 1998 was : 22287.85 lacs
Minimum Turnover in 1998 was : 1272.39 lacs

Maximum Turnover in 1999 was : 43759.9 lacs
Minimum Turnover in 1999 was : 949.88 lacs

Maximum Turnover in 2000 was : 27614.68 lacs
Minimum Turnover in 2000 was : 236.6 lacs

Maximum Turnover in 2001 was : 18210.62 lacs
Minimum Turnover in 2001 was : 7.68 lacs

Maximum Turnover in 2002 was : 26789.64 lacs
Minimum Turnover in 2002 was : 78.08 lacs

Maximum Turnover in 2003 was : 39371.05 lacs
Minimum Turnover in 2003 was : 1267.23 lacs

Maximum Turnover in 2004 was : 52812.82 lacs
Minimum Turnover in 2004 was : 1877.97 lacs

Maximum Turnover in 2005 was : 52614.71 lacs
Minimum Turnover in 2005 was : 4403.57 lacs

Maximum Turnover in 2006 was : 65564.15 lacs
Minimum Turnover in 2006 was : 811.33 lacs

Maximum Turnover in 2007 was : 69835.59 lacs
Minimum Turnover in 2007 was : 4573.49 lacs

Maximum Turnover in 2008 was : 67544.43 lacs
Minimum Turnover in 2008 was : 6395.47 lacs

Maximum Turnover in 2009 was : 152930.66 lacs
Minimum Turnover in 2009 was : 908.82 lacs

Maximum Turnover in 2010 was : 174319.9 lacs
Minimum Turnover in 2010 was : 4010.76 lacs

Maximum Turnover in 2011 was : 198259.01 lacs
Minimum Turnover in 2011 was : 12480.39 lacs

Maximum Turnover in 2012 was : 208937.34 lacs
Minimum Turnover in 2012 was : 2942.0 lacs

Maximum Turnover in 2013 was : 142830.31 lacs
Minimum Turnover in 2013 was : 2509.77 lacs

Maximum Turnover in 2014 was : 237910.85 lacs
Minimum Turnover in 2014 was : 1505.09 lacs

Maximum Turnover in 2015 was : 211053.44 lacs
Minimum Turnover in 2015 was : 5015.68 lacs

Maximum Turnover in 2016 was : 208367.28 lacs
Minimum Turnover in 2016 was : 5441.67 lacs

Maximum Turnover in 2017 was : 816214.09 lacs
Minimum Turnover in 2017 was : 6203.65 lacs

Maximum Turnover in 2018 was : 349358.78 lacs
Minimum Turnover in 2018 was : 9496.39 lacs

Maximum Turnover in 2019 was : 76220.1 lacs
Minimum Turnover in 2019 was : 35128.77 lacs